/* Global Reset */
* {
   margin: 0;
   padding: 0;
}

/* GLOBAL */
body {
   background: #f4f4f4;
   font-family: sans-serif;
   font-size: 0.85em;
}

a {
   color: #217f91;
   text-decoration: none;
}

a img {
   border: none;
}

a:hover {
   color: #0ba9d2;
}

p,li {
   color: #222;
   line-height: 1.8em;
}

ul {
   list-style: square;
}

li {
   margin: 0.4em 2em;
   margin-left: 3em;
}

p {
   padding: 1em 0em;
   margin-left: 15px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
   font-size: 1.2em;
   font-weight: normal;
   color: #444;

   border-left: 1px solid #ccc;
   padding: 5px;
   padding-left: 10px;
   margin: 10px 0;
}

.site {
   width: 95%;
   max-width: 80em;
   margin: 0 auto;
}

/* HEADER */
.header {
   margin-bottom: 1em;
   overflow: hidden;
}

   .header .logo {
      display: block;
      margin: 50px auto;
      width: 8em;
      height: 8em;
   }

      .header .logo img {
         width: 100%;
         height: 100%;
      }

   .header h1 {
      display: inline;
      float: left;
   }

   .header a {
      padding: 5px;
      color: #333;
   }

   .header a:hover {
      color: #111;
   }

   .header .title {
      font-size: 1em;
      font-weight: bold;
   }

   .header .extra {
      float: right;
   }

.footer {
  font-size: 80%;
  color: #555;
  margin: 1em;
  overflow: hidden;
}

.footer p {
   color: #555;
}

.footer a {
   color: #1f7485;
}

.footer a:hover {
   color: #0ba9d2;
}

.footer .info {
	float: left;
	margin-right: 3em;
}

.footer .contact {
  float: right;
  margin-left: 3em;
}

.content {
   background: white;
   padding: 2em;
   border: 1px solid #dedede;
   border-radius: 5px;
}

