<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
	
	<!-- RSS-XML -->
	<link rel="alternate" type="application/rss+xml"
	      title="{{ site.name }}"
	      href="{{ site.url }}/feed.xml">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="{{ site.url }}">{{ site.name }}</a></h1>
            <a class="extra" href="{{ site.url }}">Home</a>
	    <a class="extra" href="{{ site.url }}/about/">About</a>
	    <a class="extra" href="{{ site.url }}/topics/">Topics</a>
	    <a class="extra" href="{{ site.url }}/contact/">Contact</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                UW Amateur Radio Club
              </p>
            </div>
            <div class="contact">
              <p>
		coming soon
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
